.mainPage {
	background-color: #d9f0f7;
	width: 100vw;
	height: 100vh;
}

.loginContainer {
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
}

.password {
	width: 70%;
	color: #004458;
}

.appName {
	color: #004458;
	font-size: 20px;
	margin: 8px;
	display: grid;
	place-content: center;
	font-weight: 600;
	font-style: italic;
}
