.cardItem {
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid #004458;
	padding: 16px;
	border-radius: 8px;
	border-inline-width: 20px 7px;
	position: relative;
	margin-bottom: 20px;
}

.subdueFont {
	font-size: 13px;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.subdueFont2 {
	font-size: 15px;
	font-weight: 400;
}

.personIcon {
	position: absolute;
	bottom: 16px;
	right: 16px;
}

.mapContainer {
	width: 350px;
	height: 400px;
}
